<div>
  <p>Agular <code>form</code></p>

  <form #myForm="ngForm" (submit)="onSubmitForm(myForm)">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let title of tableTitles" scope="col">{{ title }}</th>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onAddCategory()"
            >
              add category
            </button>
          </td>
        </tr>
      </thead>
      <tbody *ngFor="let items of localItems">
        <tr>
          <td title="Category">
            <input
              [ngClass]="{ 'has-error': Category.invalid }"
              title="item"
              class="form-control"
              type="text"
              name="cat{{ items.id }}"
              #Category="ngModel"
              [(ngModel)]="items.name"
              required
            />
          </td>
          <td colspan="5"></td>
          <td title="Add item / remove item">
            <button
              type="button"
              class="btn btn-success"
              (click)="addItemToCategory(items.id)"
            >
              Add item
            </button>
            <button
              [disabled]="localItems.length <= 1"
              type="button"
              class="btn btn-danger"
              (click)="onRemoveCategory(items.id)"
            >
              Remove Category
            </button>
          </td>
        </tr>
        <tr *ngFor="let item of items['items']">
          <td></td>
          <td title="Item">
            <input
              [ngClass]="{ 'has-error': Item.invalid }"
              title="item"
              class="form-control"
              type="text"
              #Item="ngModel"
              name="item{{ item.id }}"
              [(ngModel)]="item.name"
              required
            />
          </td>
          <td title="Gl Code">
            <input
              [ngClass]="{ 'has-error': Code.invalid }"
              title="gl code"
              class="form-control"
              type="number"
              #Code="ngModel"
              name="gl-code{{ item.id }}"
              [(ngModel)]="item.glCode"
              required
            />
          </td>
          <td title="Amount">
            <input
              [ngClass]="{ 'has-error': Amount.invalid }"
              title="amount"
              class="form-control"
              type="number"
              #Amount="ngModel"
              name="amount{{ item.id }}"
              [(ngModel)]="item.amount"
              (ngModelChange)="getTotal(true)"
              required
            />
          </td>
          <td title="Sales Tax">
            <select
              class="form-select"
              title="select"
              [ngClass]="{ 'has-error': Tax.invalid }"
              title="sales tax"
              class="form-control"
              #Tax="ngModel"
              name="tax{{ item.id }}"
              [(ngModel)]="item.salesTax"
              (ngModelChange)="getTotal(false)"
              required
            >
              <option *ngFor="let option of salesTaxList" [ngValue]="option">
                {{ option.title }}
              </option>
            </select>
            {{ item.salesTax.value | currency }}
          </td>
          <td title="total">
            {{ +item.amount + +item.salesTax.value | currency }}
          </td>
          <td title="remove">
            <button
              [disabled]="items['items'].length <= 1"
              type="button"
              class="btn btn-danger"
              (click)="onRemoveCategoryItem(items.id, item.id)"
            >
              Remove item
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2"></td>
          <td title="Total">
            <strong>Total</strong>
          </td>
          <td title="Amount">{{ totalAmount | currency }}</td>
          <td title="Sales Tax">{{ totalTaxes | currency }}</td>
          <td title="Total">{{ totalAmount + totalTaxes | currency }}</td>
        </tr>
      </tfoot>
    </table>
    <div class="row">
      <button
        type="submit"
        class="btn btn-success"
        (submit)="onSubmitForm(myForm)"
      >
        Submit
      </button>
    </div>
  </form>
</div>
